<div class="columns is-multiline is-centered ml-6 mr-6 mt-6">
  <%= render partial: 'furniture',
             collection: @furniture,
             locals: { show_link: true, show_details: false } %>
</div>


<div class="columns is-centered m-6">
  <%= paginate @furniture %>
</div>